body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 85px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: tra;
  overflow-x: hidden;
  padding-top: 20px;
}

/* MONDSTADT */
.sidenav a {
  padding: 6px 6px 6px 10px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  font-weight: bolder;
  display: block;
}

.sidenav a:hover {
  color: black;
  background: #6381c2;
}

/* Liyue */
.navbar-1 a {
  padding: 6px 6px 6px 10px;
  text-decoration: none;
  font-size: 25px;
  color: #f4f4f4;
  font-weight: bolder;
  display: block;
}

.navbar-1 a:hover {
  color: black;
  background: #6381c2;
}

/* Inazuma */
.navbar-2 a {
  padding: 6px 6px 6px 10px;
  text-decoration: none;
  font-size: 25px;
  color: #f4f4f4;
  font-weight: bolder;
  display: block;
}

.navbar-2 a:hover {
  color: black;
  background: #6381c2;
}

.main {
  margin-left: 200px; /* Same as the width of the sidenav */
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
